body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  header {
    background-color: #2a527a;
    color: white;
    text-align: center;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: left;
  }
  header img {
    height: 100px;
    width: 100px;
    margin-right: 10px;
    margin-left: 10px;
       
    
  }
.perfil1 {
  margin-left: 950px;
}
nav{
  background-color:#EDECEC ; 
  height: 40px;
  margin: 0; /* Elimina el margen superior entre el nav y el header */
  padding: 0;
  display: flex;
  align-items: center; /* Centra verticalmente el contenido */

}


nav ul {
  list-style: none; /* Elimina las viñetas de la lista */
  padding: 0; 
  margin: 0 auto; 
  display: flex; 
  justify-content: center; 
  width: 100%; /* Ocupa todo el ancho disponible */
}

nav ul li {
  font-size: 18px;
  white-space: nowrap; /*Para que no se dividan las palabras*/
  margin: auto; /* Espacio horizontal entre los elementos */
 
}

nav ul li a {
  color: rgb(0, 0, 0); 
  text-decoration: none; 
  font-weight: bold; /* Hace los enlaces en negrita */
  padding: 5px 10px; 
  border: 1px solid transparent; 
  
  transition: all 0.3s ease; /* Añade transición suave al hover */
}

nav ul li a:hover {
  border-bottom: 2px solid #0a0a0a; /* Subraya el enlace al pasar el mouse */
}
  .content {
    display: flex;
    background-image: url('../image/fondo.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 5px;
  }
  
  .important {
    background-color: #ffffff;
    opacity: 70%;
    padding: 20px;
    width: 100%;
  }
  
  .inbox h2, .important h2 {
    margin-bottom: 10px;
  }

  .inbox h2{
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;
  }

  .inbox{
    background-color: #007bff;
    background-size: auto;
    opacity: 70%;
    padding: 20px;
    height: 100%;
  }
  
  .message {
    background-color: #303c8a;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .message p {
    color: #ffffff;
  }
  
  input[type="button"] {
    background-color: #de94da;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  footer {
    background-color: #32376a; 
    color: #fff; 
    text-align: center; 
    padding: 20px; 
  }
  
  footer a {
    color: #fff; 
    text-decoration: none; 
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  mark{
    background-color: #56bad1;
  }